
      .container {
        position: relative;
        width: 400px;
        margin: 100px auto;
      }

      .overlay {
        position: absolute;
        top: 175px;
        width: 100%;
        height: 50px;
        background: rgba(0, 0, 0, 0.4);
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 24px;
      }

      .container img {
        width: 100%;
        display: block;
      }

